@page "/"
@inject Services.ChatService Chat
@implements IDisposable

<ul>
    @foreach (var message in Chat.Messages)
    {
        <li>@message</li>
    }
</ul>

<form @onsubmit=SendMessage>
    <input type="text" @bind=CurrentLine />
    <input type="submit" value="Senden" />
</form>

@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Chat.OnMessageReceived += MessageReceived;
    }

    private void MessageReceived(object sender, EventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }

    public string CurrentLine { get; set; }

    public void SendMessage()
    {
        Chat.AddMessage(CurrentLine);
        CurrentLine = "";
    }

    public void Dispose()
    {
        Chat.OnMessageReceived -= MessageReceived;
    }
}